#############################
# Node
#############################

node_modules
dist

#############################
# Java
#############################

target
*.class
*.jar
*.war

#############################
# IDE
#############################

.idea
.vscode
.settings

#############################
# OS
#############################

.DS_Store
Thumbs.db

#############################
# Environment
#############################

.env
application-local.properties